{% extends 'main/layout.html'%}
{% block content %}
    {% for post in posts %}
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <div class="card-title text-primary">
                <a class="h5" href="{% url 'post-detail' post.id %}">
                    {{ post.title }}
                </a>
            </div>
            <img class="rounded-circle" src="{{ post.author.profile.image.url}}" width="50" height="50">
            <small class="text-muted text-secondary">{{ post.author }}, {{ post.post_date|date:"F d, Y" }}</small>
            <p class="card-text ">
                <p>{{ post.content }}</p>
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock content %}