{% extends 'main/layout.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title text-primary">
            Delete {{ object.title }}
        </h5>
        <p class="card-text ">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                   <h>Are you sure you want to delete the post "{{ object.title }}"</h> 
                </fieldset>
                <div class="form-group mt-2">
                    <button class="btn btn-outline-danger" type="submit"> Yes, Delete </button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}"> Cancel </a>
                </div>
            </form>
        </p>
    </div>
</div>
{% endblock content %}