{% extends 'main/layout.html'%}
{% load avatar %}
{% block content %}
    <h3>Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h3>
    {% for post in posts %}
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <div class="card-title">
                <img class="rounded-circle" src="{{ post.author.username|gravatar_url:50}}" width="50" height="50">
                <a style="text-decoration:none" class="h6 text-primary" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted text-secondary">{{ post.post_date|date:"F d, Y" }}</small>
            </div>
            
            <div class="">
                <a style="text-decoration:none" class="h5 text-black" href="{% url 'post-detail' post.id %}">
                    {{ post.title }}
                </a>
            </div>
             <p class="card-text">
                <p>{{ post.content }}</p>
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="mb-2">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-info" href="?page=1" >First</a>
                <a class="btn btn-sm btn-outline-info" href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-sm btn-info" href="?page={{page_obj.number}}">{{page_obj.number}}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-sm btn-outline-info" href="?page={{ num }}">{{num}}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-sm btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-sm btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    </div>

{% endblock content %}